*~
*.jar
*.class
*#
.venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# UI
# dependencies
worldai/ui/node_modules
worldai/ui/.pnp
.pnp.js
#testing
worldai/ui/coverage
# build
worldai/ui/build
*.log
