.App {
    height: 100%;
}

.App-img {
  height: 40vmin;
  pointer-events: none;
}

.App-back-arrow {
    max-width: 50px;
    margin: 5px;
}

.App-message-screen {
    height: 80vmin;    
    border: 2px solid grey;
    text-align: left;
    padding: 1em;
    overflow: auto;
}

.App-chat-screen {
    text-align: center;
    margin: 1em;
}


.App-message {
    margin: 2px; 
}

.App-table {
}

.App-tbody {
    vertical-align: top;
}

.App-td {
    width: 40%;
    
}

.App-char-screen {
    margin: 1em;
    margin-top: 0px;   
}

.App-user-input {
    width: 80%;
    margin: 1em;        
}

.App-running {
    animation-name: fadeInOut;
    animation-duration: 3s;
    animation--iteration-count: infinite;
}

@keyframes fadeInOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;        
    }
    to {
        opacity: 1;        
    }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
