# Edit WorkingDirectory and ExecStart and place in /etc/systemd/system
[Unit]
Description=WorldAI Web Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=worldai
WorkingDirectory=/home/worldai/worldai
Environment="PATH=/bin:/usr/bin"
ExecStart=/home/worldai/venv/bin/python -m waitress --threads=5 --url-prefix=worldai --port 8080 --call worldai.server:create_app

[Install]
WantedBy=multi-user.target
