[Unit]
Description=DocServer Web Service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=worldai
WorkingDirectory=/home/worldai
Environment="PATH=/bin:/usr/bin"
ExecStart=bash -c ". ./venv/bin/activate; python3 -m waitress --threads=5 --url-prefix=worldai --port 8085 --call worldai.server:create_app"


[Install]
WantedBy=multi-user.target
