<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}  
  <body>
    <div class="navdiv">
      <div class="leftnav">
        <ul class="navlist">
          <li class="navitem">
            <a class="nava"
               href="{{ url_for('worldai.top_view') }}">Top</a>
        </ul>
      </div>
    </div>  
    
    <div>
      <h1>Worlds</h1>
      <ul>
        {% for entry in world_list %}
        <li>
          <h2>
            <a href="{{ url_for('worldai.view_world', id=entry[0]) }}">
              {{ entry[1] }}
            </a>
          </h2>
          {{ entry[2] }}
        </li>
        {% endfor %}
      </ul>
    </div>
</html>
