{# Define macro for list of URL images #}
{% macro image_urls(element) %}
<script>
  const images = [
      {% for image in element.getImages() %}
      "{{ url_for('worldai.get_image', id=image) }}",
      {% endfor %}
  ];
</script>
{% endmacro %}


{# Macro for next / prev element navigation #}
{% macro prev_next_nav(view, world, next, prev) %}
<div class="rightnav">
  <ul class="navlist">
    {% if not next is none %}          
    <li class="rnavitem">
      <a class="nava"
         href="{{ url_for(view, wid=world.id, id=next.getID()) }}">
        Next: {{ next.getName() }}
      </a>
    </li>
    {% endif %}
    
    {% if not prev is none %}
    <li class="rnavitem">
      <a class="nava"
         href="{{ url_for(view, wid=world.id, id=prev.getID()) }}">
        Prev: {{ prev.getName() }}
      </a>
    </li>
    {% endif %}
  </ul>
</div>	 
{% endmacro %}
