{# Define macro for list of URL images #}
{% macro image_urls(element) %}
<script>
  const images = [
      {% for image in element.getImages() %}
      "{{ url_for('worldai.get_image', iid=image) }}",
      {% endfor %}
  ];
</script>
{% endmacro %}


{# Macro for next / prev element navigation #}
{% macro prev_next_nav(view, world, next, prev) %}
<div class="rightnav">
  <ul class="navlist">
    <li class="rnavitem">
      {% if not next is none %}                
      <a class="nava"
         href="{{ url_for(view, wid=world.getID(), eid=next.getID()) }}">
        Next
      </a>
      {% else %}
      <a class="nava">
        Next
      </a>
      {% endif %}
    </li>
    
    <li class="rnavitem">
      {% if not prev is none %}
      <a class="nava"
         href="{{ url_for(view, wid=world.getID(), eid=prev.getID()) }}">
        Prev
      </a>
      {% else %}
      <a class="nava">
        Prev
      </a>
      {% endif %}      
    </li>
  </ul>
</div>	 
{% endmacro %}


{# Macro for JS next / prev navigation #}
{% macro js_element_nav(world, next, prev) %}
<div class="leftnav">
  <ul class="navlist">
    <li class="navitem">
      <a class="nava" href="#"
         onclick="openView({{ world.getElemTag().jsonStr() }}); return false;">
        {{ world.getName() }}
      </a> 
  </ul>
</div>

<div class="rightnav">
  <ul class="navlist">
    <li class="rnavitem">
      {% if not next is none %}          
      <a href="#" class="nava"
         onclick="openView({{ next.jsonStr() }}); return false;">        
        Next
      </a>
      {% else %}
      <a class="nava">
        Next
      </a>
      {% endif %}      
    </li>

    <li class="rnavitem">
      {% if not prev is none %}
      <a href="#" class="nava"
         onclick="openView({{ prev.jsonStr() }}); return false;">
        Prev
      </a>
      {% else %}
      <a class="nava">
        Prev
      </a>
      {% endif %}      
    </li>
  </ul>
</div>	 
{% endmacro %}
