<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}    

  <body>
    <div>
      <h1>{{ item.getName() }}</h1>
      <h2>Description:</h2>
      {% if not item.getImageByIndex(0) is none %}
      <div style="padding-left:2em;float:right;display:inline;">
        <img id="image" style="max-width:500px;">
        <br>
        <button id="image_back">Prev</button>
        <button id="image_fwd">Next</button>
      </div>
      {% endif %}
      
      {{ item.getDescription() }}

      <h2>Detail Notes:</h2>
      {{ item.getDetailsHTML() | safe }}

    </div>
  </body>
  {% import 'macros.html' as macros %}
  {{ macros.image_urls(item) }}
  <script src="{{ url_for('static', filename='view.js') }}"></script>    
</html>

