<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}      
  <body>
    <div class="navdiv">
      <div class="leftnav">
        <ul class="navlist">
          <li class="navitem">                      
            <a class="nava"
               href="{{ url_for('worldai.top_view') }}">Top</a>
          <li class="navitem">
            <a class="nava"
               href="{{ url_for('worldai.list_worlds') }}">All Worlds</a>
          <li class="navitem">
            <a class = "nava"
               href="{{ url_for('worldai.view_world', wid=world.getID()) }}">
              {{ world.getName() }}
            </a> 
        </ul>
      </div>

      {% import 'macros.html' as macros %}
      {{ macros.prev_next_nav('worldai.view_site', world, nsite, psite) }}
      
    </div>
    <div>
      <h1>{{ site.getName() }}</h1>
      <h2>Description:</h2>
      {% if not site.getImageByIndex(0) is none %}
      <div style="padding-left:2em;float:right;display:inline;">
        <img id="image" style="max-width:500px;">
        <br>
        <button id="image_back">Prev</button>
        <button id="image_fwd">Next</button>
      </div>
      {% endif %}
      
      {{ site.getDescription() }}

      <h2>Detail Notes:</h2>
      {{ site.getDetailsHTML() | safe }}

    </div>
  </body>
  {% import 'macros.html' as macros %}
  {{ macros.image_urls(site) }}
  <script src="{{ url_for('static', filename='view.js') }}"></script>    
</html>

