<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WorldAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'/>
    <style>
      body {
	  font-family: 'Open Sans';
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div>
      <h1>{{ item.getName() }}</h1>
      <h2>Description:</h2>
      {% if not item.getImageByIndex(0) is none %}
      <div style="padding-left:2em;float:right;display:inline;">
        <img id="image" style="max-width:500px;">
        <br>
        <button id="image_back">Prev</button>
        <button id="image_fwd">Next</button>
      </div>
      {% endif %}
      
      {{ item.getDescription() }}

      <h2>Detail Notes:</h2>
      {{ item.getDetailsHTML() | safe }}

    </div>
    <script>
      const images = [
          {% for image in item.getImages() %}
          "{{ url_for('worldai.get_image', id=image) }}",
          {% endfor %}
      ];
      let image = document.getElementById("image");
      let image_back = document.getElementById("image_back");
      let image_fwd = document.getElementById("image_fwd");                  
      let index = 0;
      function setImageIndex(delta) {
          let new_index = index + delta;
          if (new_index >= 0 && new_index < images.length) {
              index = new_index;
              image.src = images[index]
          }
          image_back.disabled = (index == 0);
          image_fwd.disabled = (index == images.length - 1);
      }

      if (image) {
          image_back.onclick = () => setImageIndex(-1);
          image_fwd.onclick = () => setImageIndex(1);
          setImageIndex(0);
      }
    </script>
</html>

