{% import 'macros.html' as macros %}
{% if obj == 'worlds' %}

<h1>Worlds</h1>
<ul>
  {% for entry in world_list %}
  <li>
    <h2>
      <a href="#" onclick="openView({{ entry[0].jsonStr() }}); return false;">
        {{ entry[1] }}
      </a>        
    </h2>
    {{ entry[2] }}
  </li>
  {% endfor %}
</ul>


{% elif obj == 'world' %}
<a href="#" onclick="openView({}); return false;">
  All Worlds
</a>
<h1>{{ world.getName() }}</h1>
<h2>Description:</h2>

  {% if not world.getImageByIndex(0) is none %}

  <div style="padding-left:2em;float:right;display:inline;">
    <img id="image" style="max-width:500px;"
         src="{{ url_for('worldai.get_image', id=world.getImageByIndex(0)) }}">
    <br>
    <button id="image_back">Prev</button>
    <button id="image_fwd">Next</button>
  </div>
  {% endif %}

{{ world.getDescription() }}

<h2>Detail Notes:</h2>
{{ world.getDetailsHTML() | safe }}

<h2>Main Characters:</h2>
<ul>
  {% for entry in character_list %}
  <li>
    <a href="#" onclick="openView({{ entry[0].jsonStr() }}); return false;">
      {{ entry[1] }}
    </a>
      - {{ entry[2] }}          
  </li>
  {% endfor %}
</ul>

<h2>Significant Items:</h2>
<ul>
  {% for entry in item_list %}
  <li>
    <a href="#" onclick="openView({{ entry[0].jsonStr() }}); return false;">    
      {{ entry[1] }}
    </a>
    - {{ entry[2] }}          
  </li>
  {% endfor %}
</ul>

<h2>Key Sites:</h2>
<ul>
  {% for entry in site_list %}
  <li>
    <a href="#" onclick="openView({{ entry[0].jsonStr() }}); return false;">    
      {{ entry[1] }}
      </a>
    - {{ entry[2] }}          
  </li>
  {% endfor %}
</ul>

<h2>Planning Notes:</h2>
{{ world.getPlansHTML() | safe }}


{% elif obj == 'character' %}

{{ macros.js_element_nav(world, next, prev) }}      

<h1>{{ character.getName() }}</h1>
<h2>Description:</h2>
{% if not character.getImageByIndex(0) is none %}
<div style="padding-left:2em;float:right;display:inline;">
  <img id="image" style="max-width:500px;"
       src="{{ url_for('worldai.get_image', id=character.getImageByIndex(0)) }}">
  <br>
  <button id="image_back">Prev</button>
  <button id="image_fwd">Next</button>
</div>
{% endif %}

{{ character.getDescription() }}

<h2>Detail Notes:</h2>
{{ character.getDetailsHTML() | safe }}

<h2>Personality:</h2>
{{ character.getPersonalityHTML() | safe }}


{% elif obj == 'item' %}      
{{ macros.js_element_nav(world, next, prev) }}      

<h1>{{ item.getName() }}</h1>
<h2>Description:</h2>
{% if not item.getImageByIndex(0) is none %}
<div style="padding-left:2em;float:right;display:inline;">
  <img id="image" style="max-width:500px;"
       src="{{ url_for('worldai.get_image', id=item.getImageByIndex(0)) }}">
  <br>
  <button id="image_back">Prev</button>
  <button id="image_fwd">Next</button>
</div>
{% endif %}

{{ item.getDescription() }}

<h2>Detail Notes:</h2>
{{ item.getDetailsHTML() | safe }}

{% elif obj == 'site' %}      
{{ macros.js_element_nav(world, next, prev) }}      

<h1>{{ site.getName() }}</h1>
<h2>Description:</h2>
{% if not site.getImageByIndex(0) is none %}
<div style="padding-left:2em;float:right;display:inline;">
  <img id="image" style="max-width:500px;"
       src="{{ url_for('worldai.get_image', id=site.getImageByIndex(0)) }}">
  <br>
  <button id="image_back">Prev</button>
  <button id="image_fwd">Next</button>
</div>
{% endif %}

{{ site.getDescription() }}

<h2>Detail Notes:</h2>
{{ site.getDetailsHTML() | safe }}

{% else %}

<h1>Unknown element</h1>

{% endif %}
