<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}
  <body>
    <div class="navdiv">
      <div class="leftnav">
        <ul class="navlist">
          <li class="navitem">
            <a class="nava"
               href="{{ url_for('worldai.list_worlds') }}">All Worlds</a>
        </ul>
      </div>
      
      <div class="rightnav">
        <ul class="navlist">

          {% if not nworld is none %}          
          <li class="rnavitem">
            <a class="nava"
               href="{{ url_for('worldai.view_world', id=nworld.getID()) }}">
              Next: {{ nworld.getName() }}
            </a>
          </li>
          {% endif %}
          
          {% if not pworld is none %}
          <li class="rnavitem">
            <a class="nava"
               href="{{ url_for('worldai.view_world', id=pworld.getID()) }}">
              Prev: {{ pworld.getName() }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>  
    
    <h1>{{ world.getName() }}</h1>
      <h2>Description:</h2>
      {% if not world.getImageByIndex(0) is none %}      
      <div style="padding-left:2em;float:right;display:inline;">
        <img id="image" style="max-width:500px;">
        <br>
        <button id="image_back">Prev</button>
        <button id="image_fwd">Next</button>
      </div>
      {% endif %}

      {{ world.getDescription() }}

      <h2>Detail Notes:</h2>
      {{ world.getDetailsHTML() | safe }}

      <h2>Plans:</h2>
      {{ world.getPlansHTML() | safe }}


      <h2>Main Characters:</h2>
      <ul>
        {% for entry in character_list %}
        <li>
            <a href="{{ url_for('worldai.view_character', wid=world.id, cid=entry[0]) }}">
              {{ entry[1] }}
            </a> -
          {{ entry[2] }}          
        </li>
        {% endfor %}
      </ul>

      <h2>Significant Items:</h2>
      <ul>
        {% for entry in item_list %}
        <li>
            <a href="{{ url_for('worldai.view_item', wid=world.id, iid=entry[0]) }}"> 
              {{ entry[1] }}
            </a> -
          {{ entry[2] }}          
        </li>
        {% endfor %}
      </ul>

      <h2>Key Sites:</h2>
      <ul>
        {% for entry in site_list %}
        <li>
            <a href="{{ url_for('worldai.view_site', wid=world.id, sid=entry[0]) }}"> 
              {{ entry[1] }}
            </a> -
          {{ entry[2] }}          
        </li>
        {% endfor %}
      </ul>
      
    </div>
  </body>
  {% import 'macros.html' as macros %}
  {{ macros.image_urls(world) }}
  <script src="{{ url_for('static', filename='view.js') }}"></script>
</html>
