<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}    
  <body>
    <div class="navdiv">
      <div class="leftnav">
        <ul class="navlist">
          <li class="navitem">
            <a class="nava"
               href="{{ url_for('worldai.list_worlds') }}">All Worlds</a>
          <li class="navitem">
            <a class = "nava"
               href="{{ url_for('worldai.view_world', id=world.id) }}">
              {{ world.getName() }}
            </a> 
        </ul>
      </div>
      <div class="rightnav">
        <ul class="navlist">
          <li class="rnavitem">
            <a class = "nava">            
              Prev
            </a>
          <li class="rnavitem">
            <a class = "nava">            
              Next
            </a>              
        </ul>
      </div>	 
    </div>
    <div>
      <h1>{{ item.getName() }}</h1>
      <h2>Description:</h2>
      {% if not item.getImageByIndex(0) is none %}
      <div style="padding-left:2em;float:right;display:inline;">
        <img id="image" style="max-width:500px;">
        <br>
        <button id="image_back">Prev</button>
        <button id="image_fwd">Next</button>
      </div>
      {% endif %}
      
      {{ item.getDescription() }}

      <h2>Detail Notes:</h2>
      {{ item.getDetailsHTML() | safe }}

    </div>
  </body>
  {% import 'macros.html' as macros %}
  {{ macros.image_urls(item) }}
  <script src="{{ url_for('static', filename='view.js') }}"></script>    
</html>

